<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.townsi.table.tableDAO">

	<!-- table info -->
	<select id="selectList" parameterType="hashMap" resultType="hashMap">
		SELECT
			*
		FROM
			(
				SELECT
					CONCAT( TABLE_NAME, ' (', TABLE_COMMENT, ')' ) AS TABLE_NAME,
					CASE
						WHEN IFNULL(
							AUTO_INCREMENT,
							'N'
						)= 'N' THEN 'N'
						ELSE CAST(
							AUTO_INCREMENT AS CHAR
						)
					END AS AUTO_INCREMENT,
					0 AS ORDINAL_POSITION,
					'' COLUMN_COMMENT,
					'' COLUMN_NAME,
					'' COLUMN_TYPE,
					'' COLUMN_KEY,
					'' COLUMN_DEFAULT,
					'' IS_NULLABLE,
					'' FK
				FROM
					INFORMATION_SCHEMA.TABLES
				WHERE
					TABLE_SCHEMA = SCHEMA()
					AND TABLE_NAME = #{tableName}
			UNION ALL SELECT
					'' TABLE_NAME,
					'' AUTO_INCREMENT,
					A.ORDINAL_POSITION AS ORDINAL_POSITION,
					A.COLUMN_COMMENT,
					A.COLUMN_NAME,
					A.COLUMN_TYPE,
					A.COLUMN_KEY,
					A.COLUMN_DEFAULT,
					A.IS_NULLABLE,
					CONCAT( B.TABLE_NAME, '.', B.COLUMN_NAME ) AS FK
				FROM
					INFORMATION_SCHEMA.COLUMNS A
				LEFT OUTER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE B ON
					(
						B.COLUMN_NAME = A.COLUMN_NAME
						AND B.TABLE_NAME = #{tableName}
						AND B.REFERENCED_TABLE_NAME IS NOT NULL
					)
				WHERE
					A.TABLE_SCHEMA = SCHEMA()
					AND A.TABLE_NAME = #{tableName}
			) A
		ORDER BY
			A.ORDINAL_POSITION
	</select>

	<select id="selectList2" parameterType="hashMap" resultType="hashMap">
		SELECT
			*
		FROM
			(
				SELECT
					#{tableName} AS TABLE_NAME,
					'N' AS AUTO_INCREMENT,
					0 AS ORDINAL_POSITION,
					'' COLUMN_COMMENT,
					'' COLUMN_NAME,
					'' COLUMN_TYPE,
					'' COLUMN_KEY,
					'' COLUMN_DEFAULT,
					'' IS_NULLABLE,
					'' FK
				FROM
					DUAL
			UNION ALL SELECT
					'' TABLE_NAME,
					'' AUTO_INCREMENT,
					COLUMN_ID AS ORDINAL_POSITION,
					ACC.COMMENTS AS COLUMN_COMMENT,
					ATC.COLUMN_NAME AS COLUMN_NAME /* 컬럼명 */
					,DATA_TYPE AS COLUMN_TYPE /* 데이터타입 */
					,'' AS COLUMN_KEY /* PRI MUL */
					,'' AS DATA_DEFAULT
					,DECODE( NULLABLE, 'N', 'NOT NULL', '' ) AS IS_NULLABLE /* NOT NULL */
					,'' FK
				FROM
					ALL_TAB_COLUMNS ATC,
					ALL_COL_COMMENTS ACC
				WHERE
					1 = 1
					AND ATC.OWNER = ACC.OWNER
					AND ATC.TABLE_NAME = ACC.TABLE_NAME
					AND ATC.COLUMN_NAME = ACC.COLUMN_NAME
					AND ATC.TABLE_NAME = #{tableName} /* 조건 : 테이블명  */
			) A
		ORDER BY
			A.ORDINAL_POSITION
	</select>
</mapper>
